<h1>@{{user.username}}</h1>
<h4>This is your Profile.</h4>
<hr>
<div class="card mb-3" style="">
    <div class="row g-0">
        <div class="col-md-5">
            <div class="card-body" style="text-align: start">
                <h5 class="card-title mb-3">{{user.name}} {{user.lastName}}</h5>
                <p class="card-text"><strong>Username:</strong> {{user.username}}</p>
                <p class="card-text"><strong>Email:</strong> {{user.email}}</p>
                <p class="card-text"><strong>Island Name:</strong> {{user.islandName}}</p>
                <p class="card-text"><strong>Fruit:</strong> {{user.fruit}}</p>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        {{#if isCurrentUser}}
                        <a href="/profile/{{user._id}}/edit" class="btn btn-outline-success">Edit Profile</a>
                        <form action="/profile/{{user._id}}/delete" method="POST" style="display: inline">
                            <input type="submit" value="Delete" class="btn btn-outline-danger">
                        </form>
                        {{/if}}
                        {{#if isADM}}
                        <form action="/profile/{{user._id}}/delete" method="POST" style="display: inline">
                            <input type="submit" value="Delete" class="delete btn btn-outline-danger">
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <img src="{{user.profileImg}}" class="rounded-start" alt="profile image">
        </div>
    </div>
</div>
<hr>
{{!-- RESIDENTS --}}
<h3><strong>Your Villagers</strong></h3>
<div class="container d-flex flex-wrap justify-content-start">
    {{#each currentVillagers}}
    <div class="row mx-2">
        <div class="card" style="width: 10rem;">
            <div class="col">
                <div class="col">
                    <img class="card-img-top" src="{{this.image_url}}" alt="profile image">
                </div>
                <div class="col">
                    <h5 class="card-title">{{this.name}}</h5>
                    <a href="/wiki/{{this.name}}" class="btn btn-primary">INFO</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>


<hr>
{{!-- FAV VILLAGERS --}}
<h3><strong>Your Favourites</strong></h3>
<div class="container d-flex flex-wrap justify-content-start">
    {{#each favVillagers}}
    <div class="row mx-2">
        <div class="card" style="width: 10rem;">
            <div class="col">
                <div class="col">
                    <img class="card-img-top p-3" src="{{this.image_url}}" alt="profile image">
                </div>
                <div class="col">
                    <h5 class="card-title">{{this.name}}</h5>
                    <a href="/wiki/{{this.name}}" class="btn btn-primary d-grid mb-2">INFO</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>



<hr>
{{!-- EVENTS --}}
<h3><strong>Your Events</strong></h3>
<div class="container d-flex flex-wrap justify-content-start"></div>
{{#each myEvents}}
<div class="row mx-2">
    <div class="card" style="width: 10rem;">
        <div class="col">
            <div class="col">
                <img class="card-img-top p-3" src="{{this.ieventImg}}" alt="profile image">
            </div>
            <div class="col">
                <h5 class="card-title">{{this.title}}</h5>
                <hr>
                <p class="card-text">{{this.description}}</p>
                <p class="card-text"><small class="text-muted">@{{this.creator.username}}</small></p>
                <p class="card-text">Attendance:
                    {{#each attendance}}
                    <small class="text-muted">{{this.name}}| </small>
                    {{/each}}
                </p>
                {{#if ../isCurrentUser}}
                <a href="/event/{{this._id}}/edit" class="btn btn-primary">Edit</a>
                <form action="/event/{{this._id}}/delete" method="POST">
                    <button class="btn btn-primary">Delete</button>
                </form>
                {{/if}}
                {{#if ../isAdmin}}
                <a href="/event/{{this._id}}/edit" class="btn btn-primary">Edit</a>
                <form action="/event/{{this._id}}/delete" method="POST">
                    <button class="btn btn-primary">Delete</button>
                </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>
<hr>
<div class=" mb-4">
    <a href="/events/create" class="btn btn-primary">Create New Event</a>
</div>