<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h3> {{user.username}}</h3>
            <hr>
            {{!-- <h5 class='mb-4'><em><strong>"{{quote}}"</strong></em></h5>
            <p><strong>Personality:</strong> {{personality}}</p>
            <p><strong>Specie:</strong> {{species}}</p>
            <p><strong>Genre:</strong> {{gender}}</p>
            <p><strong>Birthday:</strong> {{birthday_day}} of {{birthday_month}}</p>
            <p><strong>Sign:</strong> {{sign}}</p>
            <p><strong>Gender:</strong> {{gender}}</p>
            <hr> --}}

        </div>
    </div>

</div>