<div class="container mt-5">

    <h1>{{title}}</h1>
    <h3>Creator: {{creator.name}}</h3>
    <p>Date: {{date}}</p>
    <p>Island: {{islandName}}</p>
    <p>{{description}}</p>
    <hr>

    <a href="XXXX" class="btn btn-primary">Join</a>
    <a href="/event/{{_id}}/edit" class="btn btn-primary">Edit</a>

    <form action="/event/{{_id}}/delete" method="POST">
        <button class="btn btn-warning">Delete</button>
    </form>

</div>