<div class="container mt-5">

    <h1>{{title}}</h1>
    <h4>{{description}}</h4>
    <h5>Event Creator: <a href="/profile/{{user._id}}">@{{creator.username}}</a></h5>
    <p><strong>Date:</strong> {{formattedDate.day}}/{{formattedDate.month}}/{{formattedDate.year}}</p>
    <p><strong>Island:</strong> {{creator.islandName}}</p>
    <hr>


    <form action="/event/{{_id}}/join" method="POST">
        <button class="btn btn-primary">Join</button>
    </form>
    <form action="/event/{{_id}}/unjoin" method="POST">
        <button class="btn btn-primary">unJoin</button>
    </form>
</div>