<div class="container mt-4">
    <h1 class="titlepage text-center">Events</h1>
    <hr>
    <div class="container">
        <div class="row flex-wrap">
            {{#each eventArr}}
            <div class="col">
                <div class="events card p-2" style="width: 18rem;" id="event-card">
                    <img src="{{eventImg}}" alt="event image" style="border-radius: 5px">
              
                    <h4 class="mt-3 ms-3 mb-3"><strong>{{title}}</strong></h4>
                    <p class="ms-3 mt-3"><strong>Creator:</strong> @{{creator.username}}</p>
                    <p class="ms-3"><strong>Attendance:</strong>
                        {{#each attendance}}
                        <span>{{name}} |  </span>
                        {{/each}}
                    </p>
                    <a href="/event/{{_id}}" class="seemore mt-4">See more</a>
                  
                </div>
            </div>
            {{/each}}
        </div>
        </div>
        </div>