<div class="container mt-5">

    <h1>{{title}}</h1>
    <h3>Event Creator: {{creator.name}}</h3>
    <p>Date: {{date}}</p>
    <p>Island: {{creator.islandName}}</p>
    <p>Description: {{description}}</p>
    <hr>


    <form action="/event/{{_id}}/join" method="POST">
        <button class="btn btn-primary">Join</button>
    </form>
    <a href="/event/{{_id}}/edit" class="btn btn-primary">Edit</a>
    <form action="/event/{{_id}}/delete" method="POST">
        <button class="btn btn-primary">Delete</button>
    </form>

</div>