<h1 class="text-center">Nookipedia</h1>

<form action="/wiki/search" method="GET">
    <div class="container d-grid">
        <input type="text" id='search-box' name="name" class="form-control mt-3 mb-2"
            placeholder="Search for a Villager">
        <button type="submit" class="btn btn-outline-dark mb-2">Search</button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <select placeholder='Specie' name="searchBar" id="searchBar" class="form-select form-select-mb mb-3">
                    <option selected>Species</option>
                    {{#each speciesOptions}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col">
                <select name="searchBar" id="searchBar" class="form-select form-select-mb mb-3">
                    <option selected>Personality</option>
                    {{#each personalityOptions}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col">
                <select name="searchBar" id="searchBar" class="form-select form-select-mb mb-3">
                    <option selected>Gender</option>
                    {{#each genderOptions}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
</form>



<div class="row row justify-content-center flex-wrap gap-3">
    {{#each villagers}}
    <div class="card" style="width: 10rem;">
        <img src="http://acnhapi.com/v1/icons/villagers/{{id}}" class="card-img-top" alt="villager icon">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{phrase}}</p>
            <a href="/wiki/{{name}}" class="btn btn-primary d-grid">See More</a>
        </div>

    </div>
    {{/each}}

</div>

{{!--
<script>
    function sendData(name) {
        fetch('getNames',
            method = 'POST',
            headers
        )
    }
</script> --}}