<h1 class="text-center mt-3">Nookipedia</h1>
<h3 class="text-center">Villagers</h3>
<div class="container">
    <div class="row">
        <div class="col">
            <form action="/wiki" method="GET">
                <div class="container d-grid">
                    <input type="text" id='search-box' name="name" class="form-control mt-3 mb-2"
                        placeholder="Search for a Villager">
                    <button type="submit" class="btn btn-search mb-3">Search</button>
                </div>
            </form>
        </div>
        <div class="col">
            <form action="/wiki" method="GET">
                <div class="container">
                    <div class="row">
                        <select name="species" id="species" class="form-select form-select-mb mt-3 mb-2">
                            <option selected>Species</option>
                            {{#each speciesOptions}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-search mb-3">Search</button>
                    </div>
            </form>
        </div>
    </div>
</div>



<div class="row justify-content-center flex-wrap mt-3 gap-3">
    {{#each villagers}}
    <div class="villager card" style="width: 10rem;">
        <img src="{{image_url}}" class="card-img-top villager-image" alt="villager icon">
        <div class="card-body">
            <h5 class="card-title h5cards">{{name}}</h5>
            <p class="card-text"><small class="text-muted">Specie: {{species}}</small></p>
            <a href="/wiki/{{name}}" class="btn btn-primary d-grid">See More</a>
        </div>
    </div>
    {{/each}}
</div>