<h1>Nookipedia</h1>

<form action="/wiki/{{villagers._id}}" method="POST">
    <div class="container d-grid">
        <input type="{{villagers.name}}" class="form-control mt-3 mb-2" placeholder="Search for a Villager">
        <button type="submit" class="btn btn-outline-dark mb-2">Search</button>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col">
            <select placeholder='Specie' name="searchBar" id="searchBar" class="form-select form-select-mb mb-3">
                <option selected>Species</option>
                {{#each speciesOptions}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col">
            <select name="searchBar" id="searchBar" class="form-select form-select-mb mb-3">
                <option selected>Personality</option>
                {{#each personalityOptions}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col">
            <select name="searchBar" id="searchBar" class="form-select form-select-mb mb-3">
                <option selected>Gender</option>
                {{#each genderOptions}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
    </div>
</div>


<div class="row flex-wrap gap-3 align-items-center">
    {{#each villagers}}
    <div class="card" style="width: 10rem;">
        <img src="http://acnhapi.com/v1/icons/villagers/{{id}}" class="card-img-top" alt="villager icon">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{personality}}</p>
            <a href="/wiki/{{name}}" class="btn btn-primary d-grid">See More</a>
        </div>

    </div>
    {{/each}}

</div>


{{!-- <p>
<h4>{{name}}</h4>
<a href="/wiki/{{name}}">See more</a>
</p> --}}