<div class="container mt-5">
    <div class="row">
        <div class="col villager">
            <img src="http://acnhapi.com/v1/icons/villagers/{{id}}" class="card-img-top" alt="villager icon">
        </div>
        <div class="col">
            <h3>Villager Name: {{name}}</h3>
            <p>Personality: {{personality}}</p>
            <p>Specie: {{species}}</p>
            <p>Gender: {{gender}}</p>
            <hr>
            <form action="/profile/{{name}}/addFav" method="POST">
                <button class="btn btn-primary">FAV</button>
            </form>
            <form action="/profile/{{name}}/addResident" method="POST">
                <button class="btn btn-primary">Add to island</button>
            </form>
        </div>
    </div>

</div>